<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.ac.fhstp.sonitalk">

    <permission
        android:name="at.ac.fhstp.permission_all_ultrasonic_communication"
        android:label="@string/permission_l0_label"
        android:description="@string/permission_l0_description"
        android:permissionGroup="SoniTalk"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="at.ac.fhstp.permission_all_ultrasonic_communication"/>

    <application>
        <activity android:name=".PermissionRequestDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>
        <activity
            android:name=".PermissionLevelDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>
    </application>

</manifest>